@charset "UTF-8";
/* Null */
/*Обнуление*/
@import url(https://fonts.googleapis.com/css?family=Ubuntu:regular,italic,500,700);
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
/* ------------------ */
/* Fonts */
/* ------------------ */
/* Header */
.header {
  position: fixed;
  width: 100%;
  height: 100px;
  top: 0;
  left: 0;
  z-index: 50;
  padding: 17px 0 0 0;
  background-color: #fff;
}
.header__row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__logo {
  flex: 1 1 264px;
}
.header__menu {
  padding: 12px 0 0 0;
}
.header__item {
  display: inline-block;
  padding: 0;
}
.header__item:last-child .header__link {
  padding-right: 0;
}
.header__link {
  color: #000000;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  text-transform: uppercase;
  padding: 15px 35px;
  transition: 0.3s ease;
}
.header__link:hover {
  color: #e63e00;
  text-shadow: 4px -4px 2px rgba(0, 0, 0, 0.3);
}
.header__hamburger {
  display: none;
}

@media (max-width: 992px) {
  .header__link {
    padding: 15px;
    font-size: 18px;
    line-height: 20px;
  }
}
@media (max-width: 767px) {
  .header::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
  }
  .header__row {
    position: relative;
  }
  .header__menu {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
    text-align: center;
    padding: 85px 0 0 0;
    transform: translateY(-100%);
    transition: 0.4s ease-in 0.2s;
  }
  .header__menu_active {
    transform: translateY(0);
  }
  .header__list li {
    margin: 0 0 60px 0;
  }
  .header__item {
    display: block;
  }
  .header__item:last-child .header__link {
    padding-right: 15px;
  }
  .header__link {
    font-weight: 700;
    font-size: 25px;
    line-height: 23px;
    text-transform: uppercase;
  }
  .header__hamburger {
    display: block;
  }
}
/* ------------------ */
/* Hamburger */
@media (max-width: 767px) {
  .hamburger {
    position: relative;
    width: 19px;
    height: 16px;
  }
  .hamburger::after, .hamburger::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    background-color: #000000;
    height: 2px;
    transition: 0.4s ease-in;
  }
  .hamburger::after {
    top: 0;
  }
  .hamburger::before {
    bottom: 0;
  }
  .hamburger span {
    position: absolute;
    top: 7px;
    left: 0;
    width: 100%;
    background-color: #000000;
    height: 2px;
    transition: 0.4s ease-in;
  }
  .hamburger_active span {
    transform: scale(0);
  }
  .hamburger_active::before {
    transform: rotate(45deg);
    bottom: 7px;
  }
  .hamburger_active::after {
    transform: rotate(-45deg);
    top: 7px;
  }
}
/* ------------------ */
/* Usability */
.btn {
  width: 203px;
  height: 50px;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #e63e00;
  border-radius: 3px;
  transition: background-color 0.2s ease-in;
}
.btn:hover {
  background-color: #c33500;
}

/* ------------------ */
body {
  font-family: "Ubuntu";
}

.lock {
  overflow: hidden;
}

.container {
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .container {
    max-width: 100%;
  }
}
@media (max-width: 320px) {
  .container {
    max-width: none;
    padding: 0 20px;
  }
}
.page {
  padding: 100px 0 0 0;
}

.primary__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.primary__text {
  font-weight: 500;
  font-size: 36px;
  line-height: 41px;
  text-transform: uppercase;
}
.primary__btn {
  margin: 40px 0 0 0;
}
.primary__img {
  flex: 1 1 390px;
  text-align: right;
}
.primary__img_mobile {
  display: none;
}

.why {
  padding: 35px 0 70px 0;
}
.why__title {
  text-align: center;
  margin: 0 0 70px 0;
}
.why__body {
  display: flex;
  justify-content: center;
}
.why__img {
  margin: 0 20px 0 0;
}
.title {
  font-weight: 500;
  font-size: 36px;
  line-height: 41px;
  text-transform: uppercase;
}

.list ol {
  counter-reset: my-counter;
  list-style-type: none;
}
.list li {
  position: relative;
  display: block;
  margin: 0 0 40px 0;
}
.list li::before {
  position: absolute;
  display: inline-block;
  content: counter(my-counter);
  counter-increment: my-counter;
  /* Увеличиваем значение счётчика */
  font-weight: 500;
  font-size: 32px;
  line-height: 36px;
  color: #e63e00;
  /* Белый цвет текста */
}
.list__item {
  font-size: 32px;
  line-height: 37px;
  letter-spacing: -0.2px;
}
.list__item p {
  display: inline-block;
  padding: 0 0 0 67px;
}
.list__img_mobile {
  display: none;
}

/* Media */
@media (max-width: 768px) {
  .primary__caption {
    margin: 0;
  }
  .primary__text {
    font-size: 24px;
    line-height: 27.5px;
  }
  .primary__btn {
    margin: 100px 0 0 0;
  }
  .why__title {
    font-size: 30px;
    line-height: 34px;
  }
  .why__img {
    display: none;
  }
  .list__item {
    font-size: 30px;
    line-height: 34px;
  }
  .list__img_mobile {
    display: block;
  }
}
@media (max-width: 640px) {
  .primary__text {
    font-size: 24px;
    line-height: 27.5px;
    text-align: left;
  }
  .list__item p {
    padding: 0 0 0 57px;
  }
  .list__img_mobile {
    display: none;
  }
}
@media (max-width: 360px) {
  .primary__row {
    flex-direction: column;
    align-items: stretch;
    text-align: right;
  }
  .primary__text {
    font-size: 18px;
    line-height: 20.5px;
    text-align: left;
  }
  .primary__btn {
    margin: 0;
  }
  .primary__img {
    display: none;
  }
  .primary__img_mobile {
    display: block;
  }

  .why__title {
    margin: 0 0 35px 0;
  }

  .list ol li::before {
    font-size: 24px;
    line-height: 27px;
  }
  .list ol li p {
    padding: 0 0 0 53px;
  }
  .list__item {
    font-size: 18px;
    line-height: 20.5px;
  }
}
/* ------------------ */