@charset "UTF-8";
/* Null */
/*Обнуление*/
@import url(https://fonts.googleapis.com/css?family=Ubuntu:regular,italic,500,700);
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
/* ------------------ */
/* Fonts */
/* ------------------ */
/* Header */
.header {
  position: fixed;
  width: 100%;
  height: 100px;
  top: 0;
  left: 0;
  z-index: 50;
  padding: 17px 0 0 0;
  background-color: #fff;
}
.header__row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__logo {
  flex: 1 1 264px;
}
.header__menu {
  padding: 12px 0 0 0;
}
.header__item {
  display: inline-block;
  padding: 0;
}
.header__item:last-child .header__link {
  padding-right: 0;
}
.header__link {
  color: #000000;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  text-transform: uppercase;
  padding: 15px 35px;
  transition: 0.3s ease;
}
.header__link:hover {
  color: #e63e00;
  text-shadow: 4px -4px 2px rgba(0, 0, 0, 0.3);
}
.header__hamburger {
  display: none;
}

@media (max-width: 992px) {
  .header__link {
    padding: 15px;
    font-size: 18px;
    line-height: 20px;
  }
}
@media (max-width: 767px) {
  .header::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
  }
  .header__row {
    position: relative;
  }
  .header__menu {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
    text-align: center;
    padding: 85px 0 0 0;
    transform: translateY(-100%);
    transition: 0.4s ease-in 0.2s;
  }
  .header__menu_active {
    transform: translateY(0);
  }
  .header__list li {
    margin: 0 0 60px 0;
  }
  .header__item {
    display: block;
  }
  .header__item:last-child .header__link {
    padding-right: 15px;
  }
  .header__link {
    font-weight: 700;
    font-size: 25px;
    line-height: 23px;
    text-transform: uppercase;
  }
  .header__hamburger {
    display: block;
  }
}
/* ------------------ */
/* Hamburger */
@media (max-width: 767px) {
  .hamburger {
    position: relative;
    width: 19px;
    height: 16px;
  }
  .hamburger::after, .hamburger::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    background-color: #000000;
    height: 2px;
    transition: 0.4s ease-in;
  }
  .hamburger::after {
    top: 0;
  }
  .hamburger::before {
    bottom: 0;
  }
  .hamburger span {
    position: absolute;
    top: 7px;
    left: 0;
    width: 100%;
    background-color: #000000;
    height: 2px;
    transition: 0.4s ease-in;
  }
  .hamburger_active span {
    transform: scale(0);
  }
  .hamburger_active::before {
    transform: rotate(45deg);
    bottom: 7px;
  }
  .hamburger_active::after {
    transform: rotate(-45deg);
    top: 7px;
  }
}
/* ------------------ */
/* Usability */
.btn {
  width: 203px;
  height: 50px;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #e63e00;
  border-radius: 3px;
  transition: background-color 0.2s ease-in;
}
.btn:hover {
  background-color: #c33500;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.image-slider .swiper-button-next {
  position: absolute;
  top: -40px;
  right: 0;
}
.image-slider .swiper-button-prev {
  position: absolute;
  top: -40px;
  left: auto;
  right: 25px;
  text-align: right;
}
.image-slider .swiper-button-next::after {
  font-size: 30px;
  color: #e63e00;
  font-weight: 700;
}
.image-slider .swiper-button-prev::after {
  font-size: 30px;
  color: #e63e00;
  font-weight: 700;
}

.swiper-pagination {
  bottom: -20px !important;
}

/* ------------------ */
body {
  font-family: "Ubuntu";
}

.wrapper {
  overflow: hidden;
}

.lock {
  overflow: hidden;
}

.container {
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
  overflow: hidden;
}

@media (max-width: 768px) {
  .container {
    max-width: 100%;
  }
}
@media (max-width: 320px) {
  .container {
    max-width: none;
    padding: 0 20px;
  }
}
.page {
  padding: 100px 0 0 0;
}

.primary__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.primary__text {
  font-weight: 500;
  font-size: 36px;
  line-height: 41px;
  text-transform: uppercase;
}
.primary__btn {
  margin: 40px 0 0 0;
}
.primary__img {
  flex: 1 1 390px;
  text-align: right;
}
.primary__img_mobile {
  display: none;
}

.why {
  padding: 35px 0 70px 0;
}
.why__title {
  text-align: center;
  margin: 0 0 70px 0;
  font-weight: 500;
  font-size: 36px;
  line-height: 41px;
  text-transform: uppercase;
}
.why__body {
  display: flex;
  justify-content: center;
}
.why__img {
  margin: 0 20px 0 0;
}
.title {
  font-weight: 500;
  font-size: 36px;
  line-height: 30px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}
.title::before {
  content: "";
  width: 5px;
  height: 50px;
  background: #e63e00;
  margin: 0 20px 0 0;
}

.list ol {
  counter-reset: my-counter;
  list-style-type: none;
}
.list li {
  position: relative;
  display: block;
  margin: 0 0 40px 0;
}
.list li::before {
  position: absolute;
  display: inline-block;
  content: counter(my-counter);
  counter-increment: my-counter;
  /* Увеличиваем значение счётчика */
  font-weight: 500;
  font-size: 32px;
  line-height: 36px;
  color: #e63e00;
  /* Белый цвет текста */
}
.list__item {
  font-size: 32px;
  line-height: 37px;
  letter-spacing: -0.2px;
}
.list__item p {
  display: inline-block;
  padding: 0 0 0 67px;
}
.list__img_mobile {
  display: none;
}

.catalog {
  padding: 0 0 40px 0;
}
.catalog__title {
  margin: 0 0 40px 0;
}
.catalog__row {
  display: flex;
  justify-content: center;
  margin: 0 -12.5px;
}
.catalog__item {
  flex: 0 1 33.333%;
  padding: 0 12.5px;
}

.item-catalog__row {
  display: flex;
  flex-direction: column;
}
.item-catalog__img {
  margin: 0 0 25px 0;
}
.item-catalog__name {
  font-size: 30px;
  line-height: 34px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 14px 0;
}
.item-catalog__descrition {
  font-size: 18px;
  line-height: 21px;
  letter-spacing: -0.5px;
  color: #9c9c9c;
  word-wrap: break-word;
  margin: 0 0 20px 0;
}
.item-catalog__buy {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.item-catalog__cost {
  margin: 0 0 0 34px;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}
.form-order__content {
  position: relative;
  padding: 40px 20px 30px 20px;
  text-align: right;
}
.form-order__img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.form-order__form {
  max-width: 500px;
  display: inline-block;
  position: relative;
  z-index: 2;
  text-align: right;
}
.form-order__title {
  text-align: center;
  font-size: 36px;
  line-height: 41px;
  color: #ffffff;
  margin: 0 0 20px 0;
}
.form-order__input-row {
  margin: 0 0 50px 0;
}
.form-order__input-row label {
  font-size: 30px;
  line-height: 34px;
  color: #ffffff;
  margin: 0 20px 0 0;
}
.form-order__input-row input {
  background: transparent;
  width: 350px;
  border-bottom: 2px solid #ffffff;
  font-size: 30px;
  line-height: 34px;
}
.form-order__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.form-order__info {
  flex: 0 1 201px;
  text-align: left;
  color: #fff;
  line-height: 16px;
}
.clients__content {
  position: relative;
  padding: 40px 0 40px 0;
}
.clients__title {
  margin: 0 0 30px 0;
  position: absolute;
}
.clients__slider {
  padding: 70px 0 0 0;
}

.image-slider {
  overflow: visible !important;
}
.image-slider__slide {
  width: 100%;
}
.image-slider__image img {
  max-width: 100%;
}

.footer {
  background-color: #e5e5e5;
}
.footer__body {
  padding: 50px 0 85px 0;
}
.footer__columns {
  display: flex;
  justify-content: space-between;
}
.footer__img {
  margin: 0 0 10px 0;
}
.footer__img img {
  max-width: 100%;
}
.footer__date {
  margin: 0 0 20px 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}
.footer__rules {
  line-height: 16px;
}
.footer__navigation {
  padding: 30px 0 0 0;
}
.footer__navigation p {
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  margin: 0 0 15px 0;
}
.footer__icons {
  padding: 30px 0 0 0;
}
.footer__icons img {
  display: block;
  margin: 0 0 40px 0;
}
.footer__icons img:last-child {
  margin: 0;
}
.footer__contacts {
  padding: 30px 0 0 0;
}
.footer__phone, .footer__email, .footer__address {
  font-size: 24px;
  line-height: 28px;
}
.footer__address {
  margin: 0 0 30px 0;
}
.footer__email {
  font-weight: 500;
}

/* Media */
@media (max-width: 1024px) {
  .primary__caption {
    margin: 0;
  }
  .primary__text {
    font-size: 24px;
    line-height: 27.5px;
  }
  .primary__btn {
    margin: 100px 0 0 0;
  }
  .why__title {
    font-size: 30px;
    line-height: 34px;
  }
  .why__img {
    display: none;
  }
  .list__item {
    font-size: 30px;
    line-height: 34px;
  }
  .list p {
    display: inline-block;
  }
  .list__img_mobile {
    display: inline-block;
  }

  .catalog__title {
    font-size: 28px;
  }
  .catalog__row {
    flex-wrap: wrap;
  }
  .catalog__item_3 {
    margin: 40px 0 0 0;
  }

  .item-catalog__descrition {
    font-size: 16px;
    line-height: 18px;
  }
  .form-order .container {
    padding: 0;
  }
  .form-order__content {
    text-align: center;
  }

  .footer__body {
    padding: 50px 20px 75px 20px;
  }
  .footer__columns {
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer__column_1 {
    flex: 0 1 50%;
  }
  .footer__column_2 {
    flex: 0 1 50%;
  }
  .footer__column_3 {
    flex: 0 1 100%;
  }
  .footer__column_4 {
    flex: 0 1 100%;
  }
  .footer__navigation {
    display: flex;
    flex-wrap: wrap;
  }
  .footer__navigation p {
    margin: 0 90px 50px 0;
    flex: 1 1 auto;
  }
  .footer__icons {
    text-align: center;
    margin: 40px 0 75px 0;
  }
  .footer__icons img {
    display: inline-block;
    margin: 0 125px 0 0;
  }
  .footer__contacts {
    text-align: center;
  }
}
@media (max-width: 640px) {
  .primary__text {
    font-size: 24px;
    line-height: 27.5px;
    text-align: left;
  }
  .list__item p {
    padding: 0 0 0 57px;
  }
  .list__img_mobile {
    display: none;
  }
}
@media (max-width: 767px) {
  .primary__row {
    flex-direction: column;
    align-items: stretch;
    text-align: right;
  }
  .primary__text {
    font-size: 18px;
    line-height: 20.5px;
    text-align: left;
    font-weight: 700;
  }
  .primary__btn {
    margin: 0;
  }
  .primary__img {
    display: none;
  }
  .primary__img_mobile {
    display: block;
  }

  .why__title {
    font-size: 22px;
    line-height: 25px;
    margin: 0 0 35px 0;
  }

  .list ol li::before {
    font-size: 24px;
    line-height: 27px;
  }
  .list ol li p {
    padding: 0 0 0 53px;
  }
  .list__item {
    font-size: 18px;
    line-height: 20.5px;
  }

  .title {
    font-size: 26px;
    line-height: 30px;
  }
  .title::after, .title::before {
    content: "";
    width: 25px;
    height: 3px;
    background: #e63e00;
    margin: 0 15px;
  }

  .catalog__title {
    justify-content: center;
  }
  .catalog__item {
    position: relative;
    margin: 0 0 30px 0;
  }

  .item-catalog__img {
    text-align: center;
  }
  .item-catalog__descrition {
    position: relative;
    margin: 0 0 10px 0;
  }
  .item-catalog__buy {
    flex-direction: column;
  }
  .item-catalog__cost {
    margin: 0 0 30px 0;
  }
  .footer__body {
    padding: 60px 0 40px 0;
  }
  .footer__columns {
    flex-direction: column;
    align-items: center;
  }
  .footer__column {
    align-items: center;
  }
  .footer__navigation {
    text-align: center;
    margin: 0 0 25px 0;
  }
  .footer__navigation p {
    flex: 1 1 25%;
    margin: 0 58px 50px 0;
  }
  .footer__icons {
    margin: 0 0 50px 0;
  }
  .footer__address {
    margin: 0 0 20px 0;
  }
}
@media (max-width: 568px) {
  .form-order {
    background: url("../img/bgs/bg-form_2.png") 0 0/100% 100% no-repeat;
  }
  .form-order__content {
    text-align: left;
  }
  .form-order__img {
    position: relative;
  }
  .form-order__title {
    font-size: 26px;
    line-height: 30px;
    margin: 0 0 25px 0;
  }
  .form-order__input-row {
    text-align: left;
    display: flex;
    justify-content: space-between;
  }
  .form-order__input-row label {
    font-size: 18px;
    line-height: 21px;
  }
  .form-order__input-row input {
    width: 190px;
    font-size: 18px;
    line-height: 21px;
  }
  .form-order__footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .form-order__info {
    text-align: center;
    flex: 1 1 auto;
    order: 2;
  }
  .form-order__btn {
    margin: 0 0 10px 0;
    width: 100%;
    order: 1;
  }

  .clients__title {
    justify-content: center;
    text-align: center;
    position: static;
    margin: 0;
  }
  .clients__slider {
    padding: 30px 0 0 0;
  }
}
@media (max-width: 479px) {
  .clients__content {
    padding: 30px 0 60px 0;
  }
  .clients__slider {
    padding: 0;
  }
  .clients__title {
    justify-content: center;
    text-align: center;
    position: static;
    margin: 0 0 30px 0;
  }

  .image-slider__image {
    text-align: center;
  }
  .image-slider__image img {
    width: 240px;
  }
  .image-slider .swiper-button-next {
    position: absolute;
    top: 50%;
    right: -12px;
  }
  .image-slider .swiper-button-prev {
    position: absolute;
    top: 50%;
    left: -12px;
    right: auto;
    text-align: left;
  }
  .image-slider .swiper-button-next::after {
    font-size: 30px;
    color: #e63e00;
    font-weight: 700;
  }
  .image-slider .swiper-button-prev::after {
    font-size: 30px;
    color: #e63e00;
    font-weight: 700;
  }
}
/* ------------------ */