// Button
.btn {
	width: 203px;
	height: 50px;
	font-weight: 500;
	font-size: 24px;
	color: #ffffff;
	line-height: 28px;
	text-transform: uppercase;
	background-color: #e63e00;
	border-radius: 3px;
	transition: background-color 0.2s ease-in;

	&:hover {
		background-color: #c33500;
	}
}

// ibg
.ibg {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}

.ibg img {
	width: 0;
	height: 0;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
}

// image-slider
.image-slider {
	.swiper-button-next {
		position: absolute;
		top: -40px;
		right: 0;
		&:hover {
			background: url("../img/icons/arrow-active-right.png") 51% 50% no-repeat;
			& img {
				max-width: 100%;
				opacity: 0;
				transition: opacity 0.3s ease;
			}
		}
	}
	.swiper-button-prev {
		position: absolute;
		top: -40px;
		left: auto;
		right: 25px;
		text-align: right;
		&:hover {
			background: url("../img/icons/arrow-left-active.png") 51% 50% no-repeat;
			& img {
				max-width: 100%;
				opacity: 0;
				transition: opacity 0.3s ease;
			}
		}
	}
	.swiper-button-next::after {
		font-size: 0;
	}
	.swiper-button-prev::after {
		font-size: 0;
	}
}
.swiper-container {
}
.swiper-wrapper {
}
.swiper-slide {
}
.swiper-button-prev {
}
.swiper-button-next {
}
.swiper-pagination {
	bottom: -20px !important;
}
