/* Null */
@import "null";
/* ------------------ */

/* Fonts */
@import "fonts";
/* ------------------ */

/* Header */
@import "header";
/* ------------------ */

/* Hamburger */
@import "hamburger";
/* ------------------ */

/* Usability */
@import "ui";
/* ------------------ */

// Main
body {
	font-family: "Ubuntu";
}

.wrapper {
	overflow: hidden;
}

.lock {
	overflow: hidden;
}

.container {
	max-width: 1200px;
	padding: 0 20px;
	margin: 0 auto;
	overflow: hidden;
}

@media (max-width: 768px) {
	.container {
		max-width: 100%;
	}
}

@media (max-width: 320px) {
	.container {
		max-width: none;
		padding: 0 20px;
	}
}

.page {
	padding: 100px 0 0 0;
}

// Primary
.primary {
	&__row {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__caption {
	}

	&__text {
		font-weight: 500;
		font-size: 36px;
		line-height: 41px;
		text-transform: uppercase;
	}

	&__btn {
		margin: 40px 0 0 0;
	}

	&__img {
		flex: 1 1 390px;
		text-align: right;
	}
	&__img_mobile {
		display: none;
	}
}

.why {
	padding: 35px 0 70px 0;
	&__title {
		text-align: center;
		margin: 0 0 70px 0;
		font-weight: 500;
		font-size: 36px;
		line-height: 41px;
		text-transform: uppercase;
	}

	&__body {
		display: flex;
		justify-content: center;
	}

	&__img {
		margin: 0 20px 0 0;
	}

	&__list {
	}
}

.title {
	font-weight: 500;
	font-size: 36px;
	line-height: 30px;
	text-transform: uppercase;
	display: flex;
	align-items: center;
	&::before {
		content: "";
		width: 5px;
		height: 50px;
		background: #e63e00;
		margin: 0 20px 0 0;
	}
}

.list {
	& ol {
		counter-reset: my-counter;
		list-style-type: none;
	}
	& li {
		position: relative;
		display: block;
		margin: 0 0 40px 0;
		&::before {
			position: absolute;
			display: inline-block;
			content: counter(my-counter);
			counter-increment: my-counter; /* Увеличиваем значение счётчика */
			//background: #809778; /* Цвет фона */
			font-weight: 500;
			font-size: 32px;
			line-height: 36px;
			color: #e63e00; /* Белый цвет текста */
		}
	}
	&__item {
		& p {
			display: inline-block;
			padding: 0 0 0 67px;
		}
		font-size: 32px;
		line-height: 37px;
		letter-spacing: -0.2px;
	}
	&__img_mobile {
		display: none;
	}
}

.catalog {
	padding: 0 0 40px 0;
	&__title {
		margin: 0 0 40px 0;
	}

	&__row {
		display: flex;
		font-display: row;
		justify-content: center;
		margin: 0 -12.5px;
	}

	&__item {
		flex: 0 1 33.333%;
		padding: 0 12.5px;
		&:last-child {
			min-height: 350px;
		}
	}
}

.item-catalog {
	&__row {
		display: flex;
		flex-direction: column;
	}

	&__img {
		margin: 0 0 25px 0;
	}
	&__text {
		flex: 1 1 auto;
	}
	&__name {
		font-size: 30px;
		line-height: 34px;
		text-align: center;
		text-transform: uppercase;
		margin: 0 0 14px 0;
	}

	&__descrition {
		font-size: 18px;
		line-height: 21px;
		letter-spacing: -0.5px;
		color: #9c9c9c;
		word-wrap: break-word;
		margin: 0 0 20px 0;
	}

	&__buy {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__cost {
		margin: 0 0 0 34px;
		font-weight: 500;
		font-size: 24px;
		line-height: 28px;
		text-transform: uppercase;
	}

	&__btn {
	}
}

.form-order {
	&__content {
		position: relative;
		padding: 40px 20px 30px 20px;
		text-align: right;
	}
	&__img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}

	&__form {
		max-width: 500px;
		display: inline-block;
		position: relative;
		z-index: 2;
		text-align: right;
	}

	&__title {
		text-align: center;
		font-size: 36px;
		line-height: 41px;
		color: #ffffff;
		margin: 0 0 20px 0;
	}

	&__input-row {
		margin: 0 0 50px 0;
		& label {
			font-size: 30px;
			line-height: 34px;
			color: #ffffff;
			margin: 0 20px 0 0;
		}
		& input {
			background: transparent;
			width: 350px;
			border-bottom: 2px solid #ffffff;
			font-size: 30px;
			line-height: 34px;
			&:focus {
				border-color: #e63e00;
			}
		}
	}
	&__footer {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__info {
		flex: 0 1 201px;
		text-align: left;
		color: #fff;
		line-height: 16px;
	}

	&__btn {
	}
}

.clients {
	&__content {
		position: relative;
		padding: 40px 0 40px 0;
	}

	&__title {
		margin: 0 0 30px 0;
		position: absolute;
	}

	&__slider {
		padding: 70px 0 0 0;
	}
}

.image-slider {
	overflow: visible !important;

	&__wrapper {
	}

	&__slide {
		width: 100%;
	}

	&__image {
		& img {
			max-width: 100%;
		}
	}
}

/* Popup */
@import "popup";
/* ------------------ */

/* Footer */
@import "footer";
/* ------------------ */

/* Media */
@import "media";
/* ------------------ */
