@media (max-width: 568px) {
  .hamburger {
    position: relative;
    width: 19px;
    height: 16px;
  }
  .hamburger::after, .hamburger::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    background-color: #000000;
    height: 2px;
  }
  .hamburger::after {
    top: 0;
  }
  .hamburger::before {
    bottom: 0;
  }
  .hamburger span {
    position: absolute;
    top: 7px;
    left: 0;
    width: 100%;
    background-color: #000000;
    height: 2px;
  }
  .hamburger_active {
    transition: 0.4s ease-in 0.2s;
  }
  .hamburger_active span {
    display: none;
  }
  .hamburger_active::before {
    transform: rotate(45deg);
    bottom: 7px;
  }
  .hamburger_active::after {
    transform: rotate(-45deg);
    top: 7px;
  }
}